html, body { max-width:40em; font: 18px/1.3 normal freesans, helvetica, arial, sans-serif;margin:0}
p,h1,h2,h3 {padding-left:1rem}
#submit {background-color: #f00; border: none; padding: 5px; color: #fff; font-weight: 900; border-radius: 5px;}
#submit:hover {background-color: #900}
.nav {list-style-type:none; padding-top:1.6em}
.nav li {display: block; float: left; text-align:center; width: 100px; margin-right: 20px}
#topbar {background-color:#000; color:#fff; height:10em; padding:1em}
#topbar a, #topbar a:visited {color:#fed136; text-decoration:none}
#topbar a:hover {text-decoration:underline}
#logo {float:right;width:8em;margin-left:1em;padding-top:0.86em}
#twats {width:99%;max-width:60em;height:21em}
#info {background-color:#ffb;padding:5px;width:25em;font-weight:bold;display:none}
