<UserScriptConfig>
	<Script basedir="TwatBegone" checkRemoteUpdates="1" dependhash="7c0fd17ef90ebdae422f69b8477fd228461b3bae" description="Removes twats and all mentions of them from twitter" enabled="true" filename="TwatBegone.user.js" installTime="1490810355000" modified="1490987766000" name="TwatBegone" namespace="ox4" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="4a8b8e5f-6be4-4319-b4a5-104c2b6a98c0" version="0.1" installurl="file:///home/charlie/.mozilla/firefox/l25em0m2.default/gm_scripts/TwatBegone/TwatBegone.user.js" updateurl="file:///home/charlie/.mozilla/firefox/l25em0m2.default/gm_scripts/TwatBegone/TwatBegone.user.js">
		<Grant>GM_getResourceText</Grant>
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Include>https://twitter.com/*</Include>
		<Resource name="configPage8" filename="configPage-1.html" mimetype="text/plain" charset="utf-8"/>
	</Script>
</UserScriptConfig>